@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

background-color:  #274d60;
  padding: 4px;
  line-height: 1.5;
  font-weight: 400;
color: rgb(201, 201, 201);
  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="radio"] {
  width: 2em;
  height: 2rem;
  accent-color: rgb(31, 143, 139);
}

input[type="number"],input[type="text"],input[type="file"],input[type="email"], input[type="password"], textarea {
  width: 10em;
  height: 2.5rem;
  padding: 1em;
  border-radius: .3em;
  background-color: rgb(228, 233, 233);
  color: #274d60;
}





  h2{
    font-size: xx-large;
  }
  
table{
  border: 3px double black;
  width: 100%;

}

  table th{
    padding: 7px;
    background-color: rgb(144, 134, 209);
  }

  table td{
    background-color: rgb(156, 156, 178);
    padding: 7px;
    border-bottom: 2px solid black;
text-align: center;
cursor: pointer;

  }

  hr{
    cursor: pointer;
    color: black;
    background-color: rgb(113, 102, 102);
    height: 3px;
    border-radius: 1em;
  }