@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}
:root {

  background-color: rgb(245, 245, 245);
/* background-color:  #274d60; */
  padding: 4px;
  line-height: 1.5;
  font-weight: 400;
color: rgb(56, 56, 56);
  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="radio"] {
  width: 2em;
  height: 2rem;
  accent-color: rgb(45, 142, 139);
  box-shadow: 1px 1px 2px #838282;
}

input[type="number"],input[type="text"],input[type="file"],input[type="email"], input[type="password"], input[type="date"], textarea {
  height: 2.5rem;
  padding: 1em;
  border-radius: .3em;
  background-color: rgb(228, 233, 233);
  color: #274d60;
}
select{
  height: 3.5rem;
  padding: 1em;
  border-radius: .3em;
  background-color: rgb(228, 233, 233);
  color: #5d696f;
}




  h2{
    font-size: x-large;
    color: rgb(21, 84, 86);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }





  
table{

  width: 100%;
  margin-top: 2px;
  margin-bottom: 3px;
}

table tr:first-child th:first-child {
  border-top-left-radius: 0.5rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 0.5rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}



  table th{
    padding: 12px;
    color: #344d5c;
    background-color: rgb(210, 210, 210);
  }
  
  table td{
    background-color: rgb(228, 227, 227);
    padding: 4px;
    color: rgb(82, 110, 122);
    font-style: oblique;
    font-weight: bold;
text-align: center;
cursor: pointer;

  }





