@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  display: none;
}
:root {

  background-color: rgb(245, 245, 245);
/* background-color:  #274d60; */
  padding: 4px;
  line-height: 1.5;
  font-weight: 400;
color: rgb(56, 56, 56);
  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type="radio"] {
  width: 2em;
  height: 2rem;
  accent-color: rgb(31, 143, 139);
}

input[type="number"],input[type="text"],input[type="file"],input[type="email"], input[type="password"], input[type="date"], textarea {
  height: 2.5rem;
  padding: 1em;
  border-radius: .3em;
  background-color: rgb(228, 233, 233);
  color: #274d60;
}
select{
  height: 3.5rem;
  padding: 1em;
  border-radius: .3em;
  background-color: rgb(228, 233, 233);
  color: #5d696f;
}




  h2{
    font-size: xx-large;
  }
  
table{
  border: 2px solid rgb(108, 112, 124);
  width: 100%;
margin: .2em;
}

  table th{
    padding: 8px;
    color: #274d60;
    text-shadow: 1px 1px rgb(168, 168, 173);
    background-color: rgb(198, 201, 201);
  }
  
  table td{
    background-color: rgb(222, 222, 222);
    padding: 4px;
    color: rgb(29, 85, 106);
    font-style: oblique;
    font-weight: bold;
    border-bottom: 1px solid rgb(75, 62, 62);
text-align: center;
cursor: pointer;

  }



  hr{
    cursor: pointer;
    color: black;
    background-color: rgb(113, 102, 102);
    height: 3px;
    border-radius: 1em;
  }